---
layout: "ramus"
title: "ramus"
---

#story style="Display: none;" 
      #start
        .row
          .large-3.large-offset-3.columns.end
            p 
              | Îți iei un aer de o anumită factură... 
              </br>
              | Ești tu cu zeama ta proprie, 
              a rel="f2" mergi mai departe
              | .
              </br>
              | Un teritoriu absorbit treptat, este de atmosferă această
              </br>
		      | avansare.
      #f2
        .row
          .large-4.large-offset-6.columns.end
            p 
              | Stare de 
              a rel="f7" bine
              |  egal să ai o 
              a rel="f4" viață
              |  plină de 
              a rel="f3" sens
              | , sensuri. 
              </br>
              | Indirecte, compatibile, maleabile,
              </br>
              | ajustabile și de uitat.
              </br>
              |Printre altele.  
      #f3
        .row
          .large-1.large-offset-1.columns.end
            p
              | În ce 
              a rel="f4" sens
              | ?
            /! video.responsive-embed width="100%" poster="http://i.imgur.com/mpzBrC9.jpg" onclick="this.paused ? this.play() : this.pause();"
              source src="https://b2aeaa58a57a200320db-8b65b95250e902c437b256b5abf3eac7.ssl.cf5.rackcdn.com/media_entries/11782/doar-maine-2-1.mp4" type="video/mp4"
              source src="https://b2aeaa58a57a200320db-8b65b95250e902c437b256b5abf3eac7.ssl.cf5.rackcdn.com/media_entries/11782/doar-maine-2-1.medium.webm" type="video/webm"
              
      #f4
        .row
          .large-4.large-offset-3.columns
            p
              | Modelezi la ea cu încredere, doar că se pare că ea însăși 
		      </br>
              | se modelează cum are chef. 
              a rel="f5" La naiba
              | ! Continui. 
      #f5
        .row
          .columns
            p
              | Bunăstarea starea de bine, 
		      </br> 
              | statut social, 
              a rel="f6" realizări
              | , vise, 
              a rel="f8" lucruri
              | , check-in  
		      </br>
              | ești în 
              em in
      #f6
        .row
          .columns
            p 
              |Cauți dovezi la alții, le compari cu ale tale. 
              </br> 
              | Sunt niște lucruri clare care vă plasează unde trebuie. Evident.
      #f7
        .row
          .columns
            p
              | Trebuie să iasă bine. 
              </br>
              | Crezi că lumea deține o dreptate intrinsecă, 
              </br>
              | că se va face dreptate până la urmă, 
              </br>
              | că toate se întorc, pe dos. În bine.
      #f8
        .row
          .columns
            p
              a rel="f10" Toate 
              chestiile tale
              a rel="f18" ai nevoie
              |  de ele, 
              </br>
              | le știi la locul lor, 
              </br>
              | e 
              a rel="f9" locul tău
              | .
      #f9
        .row
          .columns
            p
              | Ai unde te 
              a rel="f12" întoarce, 
              | ele te așteaptă, 
		      </br>
              | stau,
		      </br>
              | fac parte din tine,
              </br>
              | membre fantomă într-un cerc vicios de gânduri...
      #f10
        .row
          .columns
            p
              | Recuzita poveștii tale despre tine, 
		      </br>
              | aranjezi cu atenție 
              a rel="f11" spațiul
              | , 
		      </br>
              | faci legăturile, calculezi distanțele,
		      </br>
              | stai printre lucrurile tale, te vizualizezi între ele.
              </br>
              | Mental ești pe net.
      #f11
        .row
          .columns
            p
              | Spațiul tău este punctat atent cu lucruri semnificative până la poartă. 
              </br>
              | Apoi urmeaza o mică dezordine conceptuală. 
              </br>
              | Apoi urmează locul de unde pleci.
      #f12
        .row
          .columns
            p
              | Ceva se ia după tine, ceva din intimitatea ta13.
              </br>
              | Când pleci.
      #f13
        .row
          .columns
            p
              | Desenezi cu mâna prin aer, aici și acolo, 
		      </br>
              | restul, dincolo. 
		      a rel="f14" Gesturile
              |  generează un spațiu ce-ți aparține, pe moment. 
		      </br>
              | Vă leagă pe moment.
      #f14
        .row
          .columns
            p
              | Sunt atât de multe lucruri de spus.
              </br>
		      | Suntem 
              a rel="f16" înconjurați
              |  de ele.
              </br>
		      | Doar trebuie să le aduni 
              a rel="f20" grămadă
              | .
              </br>
		      | Vezi să nu-ți scape printre degete...
      #f15
        .row
          .columns
            p
              | De aceea se vând lucruri pentru că oamenii le cumpără.
              </br>
		      | Apoi se scuză.
      #f16
        .row
          .columns
            p
              | Ai putea fii altceva de fiecare dată când întâlnești un lucru nou.
              </br>
		      | în acel spațiu public plin de lucruri cu sensuri evidente,
              </br>
		      a rel="f17" depinde ce vrei
              | . Orice ai face tot ești prea evidentă.
      #f17
        .row
          .columns
            p
              | Depinde cum vrei să te poziționezi.
      #f18
        .row
          .columns
            p
              | Oamenii se plimbă teleghidați
              </br>
              | spunându-și mental povestea vieții și adunând
              </br>
		      | din priviri 
              a rel="f14" obiecte
              |  bune de recuzită pentru povestea lor.
              </br>
		      | Atingerea înseamnă confirmare, povestea este adevărată,
              </br>
		      | mângâi ușor unul din 
              a rel="f22" noiamul de lucruri
              | ,
              </br>
		      | are detalii fascinante ce-i drept.
      #f19
        .row
          .columns
            p
              | Dacă 
              a rel="f15" aduni
              |  lucruri 
              a rel="f20" uiți
              |  de tine.
              </br>
              | Ți se urcă pe sub piele vor să fie tu,
              </br>
              | vor ca tu să fii ele.

      #f20
        .row
          .columns
            p
              | Probabil că într-o zi le vei arunca la gunoi,
              </br>
		      | un ritual al 
              a rel="f21" dispariției
              |  gândurilor nedorite.
              </br>
		      | Dacă nu le acorzi atenție ele dispar.
              </br>
		      | Trebuie doar să te gândești la altceva.
      #f21
        .row
          .columns
            p
              | 
      #f22
        .row
          .columns
            p
              | 
      #f23
        .row
          .columns
            p
              | 
      #f24
        .row
          .columns
            p
              | 
      #f25
        .row
          .columns
            p
              | 
      #f26
        .row
          .columns
            p
              | 
      #f27
        .row
          .columns
            p
              | 
      #f28
        .row
          .columns
            p
              | 
      #f29
        .row
          .columns
            p
              | 
      #f30
        .row
          .columns
            p
              | 
      #f31
        .row
          .columns
            p
              | 
      #f32
        .row
          .columns
            p
              | 
      #f33
        .row
          .columns
            p
              | 
#transcript
script type="text/javascript" src="ramus.js"