---
title: Network Expressions
---

.column.row.expanded
  .row.large-collapse
    .large-12.columns
      %span
        %a(href="/") etho.tk

  .row.large-collapse.expanded
    .large-6.medium-6.columns
      %iframe#youtube(name="youtube" width="100%" height="375px" src="https://www.youtube.com/embed/wEqmPFQtZhg" frameborder="0" allowfullscreen)
      %iframe#eto(name="eto" width="100%" height="270px" src="/network-expressions/etotectura.html" frameborder="0")

    .large-6.medium-6.columns
      %iframe#vowl(name="vowl" width="100%" height="650px" src="/webvowl_0.5.2/" frameborder="0")
