.column.row.expanded
  .row.large-collapse
    .large-12.columns
      %span
        %a(href="http://etho.tk") etho.tk

  .row.large-collapse.expanded
    .large-6.medium-6.columns
      %iframe(width="100%" height="380px" src="https://www.youtube.com/embed/wEqmPFQtZhg" frameborder="0" allowfullscreen)
      %iframe(width="100%" height="270px" src="http://etho.tk/etotectura.html" frameborder="0")

    .large-6.medium-6.columns
      %iframe(width="100%" height="650px" src="http://vowl.visualdataweb.org/webvowl/index.html" frameborder="0")
