video#bgvid autoplay="" loop="" playsinline="" poster="https://i.imgur.com/mpzBrC9.jpg" 
  source src="https://player.odycdn.com/api/v4/streams/free/viitorul-a-fost-ieri/892d37bd1085941736ce4f4eb3c55181b44ef283/a8f0de" type="video/mp4"
  source src="https://archive.org/download/doar-maine-II/Doar%20maine%20II%20-%201.ia.mp4" type="video/mp4"

.row.expanded
  .large-24.columns
    a.float-left href="/" target="_top"
      img src="/images/menu.svg"
.row.expanded.top-padding
  .col24-offset1-4
    a href="11.html" 
      img alt="" src="http://i.imgur.com/ALzxSIt.gif" /  
  .col24-offset1-4-end
    a href="2.html" 
      img alt="" src="http://i.imgur.com/mMH2Gp5.gif" /