video#bgvid autoplay="" loop="" playsinline="" poster="https://i.imgur.com/9cRwEMi.jpg" 
  source src="https://player.odycdn.com/api/v4/streams/free/ciment/08489722eb56514555eb478456be37d73c37f0e8/a7b1b4" type="video/mp4"
  source src="https://archive.org/download/doar-maine-II/Doar%20maine%20II%20-%2011.ia.mp4" type="video/mp4"
.row.expanded
  .large-24.columns
    a.float-left href="/" target="_top"
      img src="/images/menu.svg"
.row.expanded.push2bottom-top-padding
  .col24-offset14-4
    a href="7.html" 
      img alt="" src="http://i.imgur.com/Xe99fGr.gif" /       
  .col24-offset1-4-end
    a href="12.html" 
      img alt="" src="http://i.imgur.com/TMLMhCp.gif" / 