video#bgvid autoplay="" loop="" playsinline="" poster="https://i.imgur.com/LQ1knBW.jpg" 
  source src="https://player.odycdn.com/api/v4/streams/free/lupta-cu-via-2/e5abed6814aa3d524244d6df52ccff782bb580f5/ddd049" type="video/mp4"
  source src="https://ia801901.us.archive.org/4/items/doar-maine-II/DoarMaineIi-14.ia.mp4" type="video/mp4"
.row.expanded
  .large-24.columns
    a.float-left href="/" target="_top"
      img src="/images/menu.svg"
.row.expanded.push2bottom-top-padding
  .col24-offset14-4
    a href="8.html" 
      img alt="" src="http://i.imgur.com/ntipNe1.gif" /           
  .col24-offset1-4-end
    a href="1.html" 
      img alt="" src="http://i.imgur.com/YsDVZH7.gif" / 