video#bgvid autoplay="" loop="" playsinline="" poster="https://i.imgur.com/uMLsO4d.jpg" 
  source src="https://player.odycdn.com/api/v4/streams/free/drumul/6069ef42d36b8245243d9ed7fd26a9ac9ce29713/b4acd1" type="video/mp4"
  source src="https://archive.org/download/doar-maine-II/Doar%20maine%20II%20-%204.ia.mp4" type="video/mp4"
.row.expanded
  .large-24.columns
    a.float-left href="/" target="_top"
      img src="/images/menu.svg"
.row.expanded.top-padding
  .col24-offset1-4
    a href="1.html" 
      img alt="" src="http://i.imgur.com/YsDVZH7.gif" /   
  .col24-offset1-4-end
    a href="5.html" 
      img alt="" src="http://i.imgur.com/BbGI6Qn.gif" /

