video#bgvid autoplay="" loop="" playsinline="" poster="https://i.imgur.com/4V38dJF.jpg" 
  source src="https://player.odycdn.com/api/v4/streams/free/nono/6be5e9beea6af4a61edb38494eb1365720a115c6/133a3a" type="video/mp4"
  source src="https://archive.org/download/doar-maine-II/Doar%20maine%20II%20-%207.ia.mp4" type="video/mp4"
.row.expanded
  .large-24.columns
    a.float-left href="/" target="_top"
      img src="/images/menu.svg"
.row.expanded.push2bottom-top-padding
  .col24-offset1-4
    a href="3.html" 
      img alt="" src="http://i.imgur.com/PtpMaTY.gif" /
  .col24-offset1-4-end
    a href="8.html" 
      img alt="" src="http://i.imgur.com/ntipNe1.gif" /