doctype html
/! include aframe
script src="vendor/aframe/build/aframe.js" 
/! include aframe-ar.js
script src="../build/aframe-ar.js" 
body style=("margin : 0px; overflow: hidden; font-family: Monospace;") 