---
title: "etho.tk home"
---

.row.top-margin-20px
  .medium-1.columns
    a href="/"
      img alt="logo" src="/images/logo.svg"
  .medium-10.columns
    h5.top-margin-20px
      a href="/" etho.tk
  .medium-1.columns
    h6.top-margin-20px
      a href='/' en
 
hr

.row
  .medium-8.columns
    h6 Proiecte
    hr
    ul.accordion data-accordion="" data-multi-expand="true" data-allow-all-closed="true"
      li.accordion-item data-accordion-item="" 
        a.accordion-title href="#" 
          b Spațiul ca umoare
        .accordion-content data-tab-content="" 

          a href="/umoarea/"
            img alt="spatiul ca umoare" src="https://i.imgur.com/pQCN2Y8.jpg" 
          p   
          p 
            em 
              a href="/umoarea/"  Spațiul ca umoare
            |  este componenta digitală și interactivă 
            a href="http://www.oddweb.org/annuals/2017-2/the-interstitial-space/" a lucrării eponime
            |  expuse în vara anului 2017 la ODD Space din București, parte 
            a href="http://www.oddweb.org/annuals/2017-2/" a proiectului "În privat"
            | . 
          p 
            q
              | Lucrarea încearcă să reprezinte spațiul ținând cont de proximitatea lucrurilor, modul în care subiectul este pierdut în rețeaua / asamblajul de obiecte și este transformat la rândul său, împreună cu rețeaua / asamblajul în care este integrat. Noțiunea de privat capătă un nou înțeles: lăsând la o parte privatul definită în termeni legali (privatul normativ), descoperim privatul experiențial, interstițial, privatul definit pornind mai degrabă de la starea de bine creată de relația cu obiectele din proximitate - intimitatea ca o ecologie a bunăstării noastre.
            cite Cristina Bogdan
          p
            | "Spațiul ca umoare" conține de asemenea 
            a href="/interstitial/interstitial-privacy.html" acest eseu
            |  despre "privatul interstițial" și 
            a href="https://imgur.com/a/dA0em/layout/grid" acest set de fotografii
            | .
            hr
          
      li.accordion-item data-accordion-item="" 
        a.accordion-title href="#" 
          b Doar mâine II
        .accordion-content data-tab-content="" 

          a href="/doar-maine-2/" 
            img alt="only tomorrow 2" src="http://i.imgur.com/K2wVAyn.png" 
          p   
          p 
            em 
              a href="/doar-maine-2/" Doar mâine II 
            | este un video interactiv expus pentru prima dată la  
            a href="http://mediaartfestival.ro/MAF/DADADA/indexDADADA.html" Media Art Festival Arad Dadada/2016.
          p 
            | Această lucrare este urmarea proiectului 
            em 
              a href="https://youtu.be/8xCOKIItsnU" Doar mâine 
            | (video expus la  
            a href="http://metacult.ro/awol/?p=13" Bienala tinerilor artiști București  2006 
            | și la 
            a href="http://www.mucsarnok.hu/exhibitions/exhibitions.php?mid=561c3525eb8e4&tax=560c5eec6098a" European Travellers. Art from Cluj Today at Műcsarnok Kunsthalle Budapest 
            | în 2012) 
            | Noțiuni precum 
            em "comunicarea" 
            | lui Bataille și 
            em devenirea 
            | lui Deleuze/Guattari sunt refolosite și augumentate prin folosirea tehnologiei, permițând noi forme de expresie (interactivitate, combinatorică, loop, choice path, randomness) legate de conținutul din video. 
          p 
            em Doar mâine 
            | este un 
            em 
              a href="https://en.wikipedia.org/wiki/Only_Yesterday_(1991_film)" Doar ieri 
            | (un anime japonez publicat în 1991) inversat, unde nostalgia e înlocuita de reverie și trecutul uitat de viitorul imediat și este inspirat de temele comune ale timpului, schimbării și devenirii.
          p
            | Lucrarea este compusă din 14 clipuri video interconectate care sunt accesate prin intervenția utilizatorului. Clipurile video sunt aranjate și interconectate după următoarele matrice combinatorii:
          a href="/doar-maine-2/only-tomorrow-2-combi-fig.svg" 
            img alt="videos combination matrices" src="/doar-maine-2/only-tomorrow-2-combi-fig.svg" 
          p   
          p
            | Un proiect de Nita Mocanu & Marius Stoica. Voce adițională Oana Petrugan.
          hr
 
      li.accordion-item data-accordion-item="" 
        a.accordion-title href="#" 
          b Expresii de rețea
        .accordion-content data-tab-content="" 
          a href="/network-expressions/" 
            img alt="network expressions" src="http://i.imgur.com/Hpwm9uB.png" 
          p  
          p 
            a href="/network-expressions/"
              em Expresii de rețea 
            | este o instalație web de video ("Era deja acolo..."), text ("Etotectura") și vizualizare graphică a datelor (fișiere de ontologie semnatică web OWL) expusă la Kinema Ikon Serial s03e06, Arad, Iunie 2016.
          p
            | Proiectul este în același timp o expresie artistică și o aplicație de căutări interdisciplinare în domeniile filosofiei contemporane și web-ului semnatic.
          p 
            | Textul "Etotectura" este o schiță pentru o cercetare viitoare care enunță principalele idei ridicate de întrebarea teoretică de bază (folosind vocabularul lui Quentin Meillassoux) despre cum poate lumea să fie reprezentată și procesată dintr-o perspectivă 
            em non-corelaționistă
            | ? Există un precedent? Ce exemplu, model ar trebui să luăm în considerare? Pentru a răspunde, mai întâi, anunțăm situația inconfortabilă și chiar periculoasă a încercării de a trăi, de a simți și comprehensa 
            em hiperhaosul. 
            | Dar este 
            em cineva 
            | care a încercat toate acestea, chiar a creat tehnici prin care să gestionezi toată experiența. Acesta este Șamanul!
          p
            | Având ca exemplu și model 
            em șamanul
            | , definim expresivitatea lumii refolosind noțiunea lui Michel Foucault de "enunț" pentru a dezvolta o viziune asupra lumii non-corelaționistă, orientată pe obiect. Bazat pe acest model teoretic am creat o ontologie de web semantic codată OWL, care este utilizată pentru a adnota și a reprezenta vizual (folosind WebVOWL software) atât textul cât și clipul video.
          p
            | Un proiect de Nita Mocanu & Marius Stoica.
  
  .medium-4.columns
    h6 Despre
    hr
    p
      a alt="etho.tk" href="/" etho.tk 
      | este un proiect online construit în jurul metaforei de 
      a href="/network-expressions/etotectura.html"
        em eto-tectură 
      | - căile invizibile, uzate și bătucite din interiorul rețelelor de obiecte, lucruri și ființe din care facem parte.
    p
      | Din această perspectivă, etho.tk este un canal deshis de lucrări și idei transmise de 
      a href="mailto:mariustoica@gmail.com"  Marius Stoica 
      | și
      a href="http://www.nitamocanu.ro/"  Nita Mocanu.  
      | Urmăm drumuri la intersecția dintre arta contemporană (video performance, instalație, artă digitală), filosofie contemporană (realism speculativ, filosofie experimentală) și noile tehnologii (HTML5, web semantic, realitatea virtuală și augumentată). 
    p 
      | etho.tk este "ca atare", propria teorie, un șantier, un creuzet, works in progress,  
      a alt="source on github" href="https://github.com/mariusst/etho.tk" open source
      | .

hr

.row
  .medium-12.columns
    .clearfix
    div
      a href="https://creativecommons.org/licenses/by/4.0/deed.ro" rel="license" title="Creative Commons Attribution 4.0 International license" 
        img alt="License" src="https://licensebuttons.net/l/by/4.0/88x31.png" 
    div about="http://creativecommons.org" style="display: inline;" xmlns:cc="http://creativecommons.org/ns#" 
      p
        | Exceptând situațiile unde este notificat altfel, conținutul 
        span href="http://creativecommons.org" property="cc:attributionName" rel="cc:attributionURL"  de pe acest site este licențiat prin
        a.subfoot href="https://creativecommons.org/licenses/by/4.0/deed.ro" rel="license"  licența Creative Commons Atribuire 4.0 Internațional.
