/* line 1, style.css.scss */
#vowl {
  min-height: 96vh; }

/* line 5, style.css.scss */
#youtube {
  min-height: 47vh; }

/* line 9, style.css.scss */
#eto {
  min-height: 48vh; }

/* line 13, style.css.scss */
#youtube, #eto, #vowl {
  min-width: 50vw;
  border: 0; }
