---
layout: "ar"
title: "ar"
---
  
a-scene artoolkit=""
  a-anchor hit-testing-enabled="true" preset="kanji"
    /!a-assets
      /!a-mixin#marker geometry=("primitive: plane; width: 0.02; height: 0.02") material=("color: red") 
    /!a-entity mixin="marker" position=("-2.5 0.7 0.01") 
    /! Animations.
    /!a-entity#opacity position=("-2.5 0.7 0") text=("color: white; align: center; value: Animating opacity; width: 1.5") 
    /!a-entity mixin="marker" position=("0 0.7 0.01") 
    
    a-text#opacity value="IESIREA DIN ADAPOST PS2050 SE FACE PRIN POARTA X20\nOBLIGATORIU ECHIPAMENT DE PROTECTIE SOLARA!" font="roboto" color="yellow"

  a-camera-static

javascript:
  // Animate opacity.
  var opacity = document.getElementById('opacity');
  var obj = {opacity: 0};
  var tween = new AFRAME.TWEEN.Tween(obj)
    .to({opacity: 1}, 500)
    .repeat( Infinity )
    .yoyo( true )
    .onUpdate(function () {
      opacity.setAttribute('text', 'opacity', obj.opacity);
    })
    .start();