link rel="stylesheet" type="text/css" ref="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"
script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"
javascript:
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#ffffff",
          "text": "#000000"
        },
        "button": {
          "background": "transparent",
          "text": "#000000",
          "border": "#000000"
        }
      },
      "position": "bottom-right",
      "content": {
        "href": "/privacy/"
      }
    })});
