---
title: Welcome to Middleman-Foundation-6
---

.row
  .large-12.columns
    %h1 etho.tk project
     
.row
  .large-12.medium-12.columns
    .row
      .large-6.medium-6.columns
        %h4 About
        .primary.callout
          %p about text
      .large-6.medium-6.columns
        %h4 Projects
        .primary.callout
          %p 
            %a(href="/network-expressions") Network expressions
    .row
      .large-4.medium-4.small-4.columns
        %h4 Theory bibliografy
        .primary.callout
          %p Four columns
      .large-4.medium-4.small-4.columns
        %h4 Technology bibliografy
        .primary.callout
          %p Four columns
      .large-4.medium-4.small-4.columns
        %h4 Software
        .primary.callout
          %p 
            %a https://graves.cl/visualRDF/?url=https://graves.cl/visualRDF/
          %p 
            %a https://rdfa.info/play/
          %p
            %a http://vowl.visualdataweb.org/webvowl/index.html
          %p  
            %a https://chrome.google.com/webstore/detail/green-turtle-rdfa/loggcajcfkpdeoaeihclldihfefijjam?hl=en
          %p  
            %a http://protege.stanford.edu/


